<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <strong>
            <%= link_to 'S A B I T', root_path, class: 'navbar-brand' %>
        </strong>
        <%= render 'layouts/navigation_links' %>
    </div>

</nav>